/* Global Styles */
body {
    font-family: 'Montserrat', sans-serif;
}

.dark-background {
    background-color: #f6f9fe;
}

/* Navbar */
.navbar-brand {
  color: #fff;
  text-transform: uppercase;
}

.navbar-expand-md .navbar-nav .nav-link {
  color: #fff;
  text-transform: uppercase;
}
.custom-nav {
  width: 100%;
  position: fixed;
  transition: 0.3s ease-in-out;
}


.nav-active {
    background-color:#fff;
    box-shadow: 5px -1px 12px -5px grey;
}

.nav-active .navbar-nav .nav-link{
  color: #000;
}

.nav-active .navbar-brand {
  color: #000;
}



.nav-active {
  background-color:#fff;
  box-shadow: 5px -1px 12px -5px grey;
}


.navbar-dark .navbar-toggler {
  border: none;
}



/* Jumbotron */

.jumbotron-fluid {
    background: linear-gradient(to right, rgba(35, 37, 38, 0.5), rgba(65, 67, 69, 0.5)), url("../images/corvette-banner.jpg");
    background: -webkit-linear-gradient(to right, rgba(35, 37, 38, 0.6), rgba(65, 67, 69, 0.6));
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
}

/* About */
#about p {
  width: 80%;
}

.about-img {
  max-height: 500px;
}



/* Services */
#services .fa {
    color: #106eea;
    font-size: 2rem;
}

/* Gallery */


.carousel-item img {
    height: 80%;
}

/* Testimonials */
.card .fa {
    color: #106eea;
    font-size: 2rem;
}


/* FAQ */
.collapsible-link {
    width: 100%;
    position: relative;
    text-align: left;
}

.collapsible-link::before {
    content: '\f107';
    position: absolute;
    top: 50%;
    right: 0.8rem;
    transform: translateY(-50%);
    display: block;
    font-family: 'FontAwesome';
    font-size: 1.1rem;
}

.collapsible-link[aria-expanded='true']::before {
    content: '\f106';
}
/*  NEED THIS SO NO BLUE OUTLINE SHOWN */

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
 }

/* Contact */


#contact .info-box {
    color: #444444;
    text-align: center;
    /* box-shadow: 0 0 30px rgba(214, 215, 216, 0.5); */
    padding: 20px 0 0 0;
  }
  
  #contact .info-box i {
    font-size: 32px;
    color: #106eea;
    padding: 8px;
  }
  
  #contact .info-box h3 {
    font-size: 20px;
    color: #777777;
    font-weight: 700;
    margin: 5px 0;
  }
  
  #contact .info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
  }

  #contact form {
    padding: 30px;
  }
  

  
  #contact form input, .contact  textarea {
    border-radius: 0;
    box-shadow: none;
    font-size: 14px;
  }
  
  .contact form input:focus, #contact form textarea:focus {
    border-color: #106eea;
  }
  
  #contact form input {
    padding: 20px 15px;
  }
  
  #contact form textarea {
    padding: 12px 15px;
  }
  
  .contact .form button[type="submit"] {
    background: #106eea;
    border: 0;
    padding: 10px 30px;
    color: #fff;
    transition: 0.4s;
    border-radius: 4px;
  }
  
  #contact form button[type="submit"]:hover {
    background: #3b8af2;
  }



/* Footer */


 /* Media Queries */